.bgrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); // Dos columnas de igual ancho
    margin: 5px;
}

.search {
    display: grid;
    grid-template-columns: 100%;
    margin: 10px;
}

.card {
    width: 100%;
    text-align: center;
    background-color: #fff;
    padding: 5px;
    padding-bottom: 10px;
    text-align: left;
}

.truncate-text {
    white-space: nowrap; /* Evita el salto de línea */
    overflow: hidden; /* Oculta el texto que desborda */
    text-overflow: ellipsis; /* Reemplaza el texto desbordado con puntos suspensivos */
    max-width: 170px; /* Establece el ancho máximo del texto antes de truncar */
}

.title {
    text-decoration:line-through;
}

.card img {
    border-radius: 10px;
    width: 100%;
    max-height: 200px;
}

.banner img {
    border-radius: 10px;
    width: 100%;
    max-height: 1000px;
}

.banner {

    width: 100%;
    padding: 5px;
    padding-bottom: 10px;
}

.card h4 {
    font-weight: 600;
    margin: 4px 0;
    font-size: 20px;
}

.card h5 {
    margin: 4px 0;
    color: rgb(171, 171, 171);
}
.card h6 {
    margin: 4px 0;
    color: rgb(171, 171, 171);
}

.card h4 div {
    color: rgb(234, 34, 34);
    font-weight: 600;
    margin: 4px 0;
    font-size: 20px;
}

.card h4 span {
    font-weight: 700;
    font-size: 12px;
    margin-right: 3px;
}

.card h5 span {
    font-weight: 700;
    font-size: 12px;
    margin-right: 3px;
}

.card p {
    font-size: 16px;
    margin: 0px;
}