<div class="grid grid-nogutter mt-4">
    <div class="col-10 col-offset-1">
   
        <div class="col-12 p-0 mt-3">
            
            <div *ngIf="!isLoading">
                <app-orderlist-cotizaciones  
                    titulo="Cotizaciones"
                    [cotizaciones]="cotizaciones"
                ></app-orderlist-cotizaciones>
                <br>
                
                <app-create-cotizacion (newSave)="nuevoSave($event)"></app-create-cotizacion> 
            </div>

            <div *ngIf="isLoading">
                <app-spinner></app-spinner>
            </div>
        </div>
    </div>
</div>