<button 
    pButton 
    pRipple 
    (click)="showDialog()"
    icon="pi pi-plus" 
    class="bg-black-alpha-90 w-full px-0" 
    [style]="{'width':'100%'}" 
></button>

<p-dialog 
    header="Crear nueva cotización" 
    [(visible)]="visible"
    [draggable]="false" 
    [resizable]="false"
    [modal]="true" 
    [style]="{width: '90%'}"
    class="altura"
>
    <div class="grid grid-nogutter">

        <div class="formgrid grid" [formGroup]="formCotizacion">

            <div class="col-12 flex mt-2">
                <input 
                    pInputText 
                    [ngClass]="{'ng-invalid ng-dirty': validarCampo('nombre') }"
                    formControlName="nombre"
                    type="text"
                    class="w-full" 
                    placeholder="Nombre cotización *"
                />
            </div>
    
            <div class="col-12 flex">
                <p-calendar 
                    [ngClass]="{'ng-invalid ng-dirty': validarCampo('fecha_vencimiento') }"
                    formControlName="fecha_vencimiento"
                    [readonlyInput]="true"
                    [style]="{width: '100%'}" 
                    class="w-full mt-2" 
                    dateFormat="dd/mm/yy" 
                    placeholder="fecha vencimiento"
                ></p-calendar>
            </div>
    
            <div class="col-12 flex mt-2">
                <input 
                    pInputText 
                    [ngClass]="{'ng-invalid ng-dirty': validarCampo('nombre_cliente') }"
                    formControlName="nombre_cliente"
                    type="text"
                    class="w-full" 
                    placeholder="Nombre cliente"
                />
            </div>
    
            <div class="col-12 flex mt-2">
                <input 
                    pInputText 
                    [ngClass]="{'ng-invalid ng-dirty': validarCampo('cedula_cliente') }"
                    formControlName="cedula_cliente"
                    type="text"
                    class="w-full" 
                    placeholder="Cedula cliente"
                />
            </div>
    
            <div class="col-12 flex mt-2">
                <input 
                    pInputText 
                    [ngClass]="{'ng-invalid ng-dirty': validarCampo('correo_cliente') }"
                    formControlName="correo_cliente"
                    type="text"
                    class="w-full" 
                    placeholder="Correo cliente"
                />
            </div>
    
            <div class="col-12">
                <button 
                    pButton 
                    pRipple 
                    (click)="crearCotizacion()"
                    label="Crear"
                    class="bg-black-alpha-90 w-full px-0 mt-3" 
                    [style]="{'width':'100%'}" 
                ></button>
            </div>
        </div>
        
    </div>
</p-dialog>