<div *ngIf="false" class="grid grid-nogutter mt-4">
    <div class="col-10 col-offset-1 md:col-10 md:col-offset-1 xl:col-10 xl:col-offset-1">

        <div class="grid grid-nogutter">

            <div class="col-12 mt-4 lg:col-4 lg:w-4 lg:p-3 xl:col-3 xl:w-3 xl:p-3">
            
                <p-card header="Advanced Card" subheader="Card Subheader">

                    <ng-template pTemplate="header">
                        <img
                            class="max-h-20rem max-w-100%"
                            alt="Card" 
                            src="https://picsum.photos/200/300?grayscale" 
                        />
                    </ng-template>
                    
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                        quas!
                    </p>
                
                    <ng-template pTemplate="footer">
                        <p class="flex justify-content-end flex-wrap">18.000 $</p>
                    </ng-template>
                </p-card>                
            </div>
            <div class="col-12 mt-4 lg:col-4 lg:w-4 lg:p-3 xl:col-3 xl:w-3 xl:p-3">
            
                <p-card header="Advanced Card" subheader="Card Subheader">

                    <ng-template pTemplate="header">
                        <img
                            class="max-h-20rem max-w-100%"
                            alt="Card" 
                            src="https://picsum.photos/200/300?grayscale" 
                        />
                    </ng-template>
                    
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                        quas!
                    </p>
                
                    <ng-template pTemplate="footer">
                        <p class="flex justify-content-end flex-wrap">18.000 $</p>
                    </ng-template>
                </p-card>                
            </div>
            <div class="col-12 mt-4 lg:col-4 lg:w-4 lg:p-3 xl:col-3 xl:w-3 xl:p-3">
            
                <p-card header="Advanced Card" subheader="Card Subheader">

                    <ng-template pTemplate="header">
                        <img
                            class="max-h-20rem max-w-100%"
                            alt="Card" 
                            src="https://picsum.photos/200/300?grayscale" 
                        />
                    </ng-template>
                    
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                        quas!
                    </p>
                
                    <ng-template pTemplate="footer">
                        <p class="flex justify-content-end flex-wrap">18.000 $</p>
                    </ng-template>
                </p-card>                
            </div>
            <div class="col-12 mt-4 lg:col-4 lg:w-4 lg:p-3 xl:col-3 xl:w-3 xl:p-3">
            
                <p-card header="Advanced Card" subheader="Card Subheader">

                    <ng-template pTemplate="header">
                        <img
                            class="max-h-20rem max-w-100%"
                            alt="Card" 
                            src="https://picsum.photos/200/300?grayscale" 
                        />
                    </ng-template>
                    
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                        quas!
                    </p>
                
                    <ng-template pTemplate="footer">
                        <p class="flex justify-content-end flex-wrap">18.000 $</p>
                    </ng-template>
                </p-card>                
            </div>
            <div class="col-12 mt-4 lg:col-4 lg:w-4 lg:p-3 xl:col-3 xl:w-3 xl:p-3">
            
                <p-card header="Advanced Card" subheader="Card Subheader">

                    <ng-template pTemplate="header">
                        <img
                            class="max-h-20rem max-w-100%"
                            alt="Card" 
                            src="https://picsum.photos/200/300?grayscale" 
                        />
                    </ng-template>
                    
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                        quas!
                    </p>
                
                    <ng-template pTemplate="footer">
                        <p class="flex justify-content-end flex-wrap">18.000 $</p>
                    </ng-template>
                </p-card>                
            </div>
            <div class="col-12 mt-4 lg:col-4 lg:w-4 lg:p-3 xl:col-3 xl:w-3 xl:p-3">
            
                <p-card header="Advanced Card" subheader="Card Subheader">

                    <ng-template pTemplate="header">
                        <img
                            class="max-h-20rem max-w-100%"
                            alt="Card" 
                            src="https://picsum.photos/200/300?grayscale" 
                        />
                    </ng-template>
                    
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                        quas!
                    </p>
                
                    <ng-template pTemplate="footer">
                        <p class="flex justify-content-end flex-wrap">18.000 $</p>
                    </ng-template>
                </p-card>                
            </div>
            <div class="col-12 mt-4 lg:col-4 lg:w-4 lg:p-3 xl:col-3 xl:w-3 xl:p-3">
            
                <p-card header="Advanced Card" subheader="Card Subheader">

                    <ng-template pTemplate="header">
                        <img
                            class="max-h-20rem max-w-100%"
                            alt="Card" 
                            src="https://picsum.photos/200/300?grayscale" 
                        />
                    </ng-template>
                    
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                        quas!
                    </p>
                
                    <ng-template pTemplate="footer">
                        <p class="flex justify-content-end flex-wrap">18.000 $</p>
                    </ng-template>
                </p-card>                
            </div>
        </div>
    </div>
</div>

<div *ngIf="true" class="m-2">
        
    <div class="fgrid">

        <div>
            <div class="bgrid">
                
                <div class="element1">
                    <div class="card">
                        <img src="../../../assets/fondo.jpg">
                        <!-- <h4>Naturaleza</h4> -->
                        <p>Lorem ipsum do..</p>
                        <a href="#">Leer más</a>
                    </div>
                </div>
            </div>
    
            <div class="bgrid">
                
                <div class="element1">
                    <div class="card">
                        <img src="../../../assets/fondo.jpg">
                        <h4>Naturaleza</h4>
                        <p>Lorem ipsum do..</p>
                        <a href="#">Leer más</a>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="bgrid">
                
                <div class="elementA">
                    
                    <div class="card">
                        <img src="../../../assets/fondo.jpg">
                        <h4>Naturaleza</h4>
                        <p>Lorem ipsum do..</p>
                        <a href="#">Leer más</a>
                    </div>

                </div>
            </div>
    
            <div class="bgrid">
                
                <div class="elementB">
                    <div class="container">


                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div *ngIf="false">

    <app-card></app-card>
</div>










