<div class="grid grid-nogutter mt-4">
    <div class="col-10 col-offset-1 md:col-10 md:col-offset-1">

        <div class="grid grid-nogutter">

            <div class="xl:col-3 md:col-4 sm:col-12">
                <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }">

                    <ng-template pTemplate="header">
                        <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
                    </ng-template>
                    
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                        quas!
                    </p>
                
                    <ng-template pTemplate="footer">
                        <p-button label="Save" icon="pi pi-check"></p-button>
                        <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
                    </ng-template>
                </p-card>
            </div>
            <div class="xl:col-3 md:col-4 sm:col-12">
                <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }">

                    <ng-template pTemplate="header">
                        <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
                    </ng-template>
                    
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                        quas!
                    </p>
                
                    <ng-template pTemplate="footer">
                        <p-button label="Save" icon="pi pi-check"></p-button>
                        <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
                    </ng-template>
                </p-card>
            </div>
            <div class="xl:col-3 md:col-4 sm:col-12">
                <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }">

                    <ng-template pTemplate="header">
                        <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
                    </ng-template>
                    
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                        quas!
                    </p>
                
                    <ng-template pTemplate="footer">
                        <p-button label="Save" icon="pi pi-check"></p-button>
                        <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
                    </ng-template>
                </p-card>
            </div>
            <div class="xl:col-3 md:col-4 sm:col-12">
                <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }">

                    <ng-template pTemplate="header">
                        <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
                    </ng-template>
                    
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                        quas!
                    </p>
                
                    <ng-template pTemplate="footer">
                        <p-button label="Save" icon="pi pi-check"></p-button>
                        <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
                    </ng-template>
                </p-card>
            </div>
        </div>
        
        
    </div>
        
</div>

