.fixed-search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #fff; /* Ajusta el color de fondo según tus necesidades */
    /* Otros estilos que desees aplicar al elemento fijo */
}

.spacer {
    height: 0; /* Inicialmente sin altura para evitar saltos en la página */
}

.fixed-bottom {
    position: fixed;
    shape-margin: 10%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff; /* Ajusta el color de fondo según tus preferencias */
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
    // padding: 10px; /* Añade un espacio entre el contenido y el borde inferior */
}



@media (min-width: 1901px){
    .cgrid {
        grid-template-columns: repeat(8, 1fr);
    }
}

@media (min-width: 1401px) and (max-width: 1900px){
    .cgrid {
        grid-template-columns: repeat(7, 1fr);
    }
}

@media (min-width: 1251px) and (max-width: 1400px) {
    .cgrid {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (min-width: 1000px) and (max-width: 1250px) {
    .cgrid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 755px) and (max-width: 999px) {
    .cgrid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 400px) and (max-width: 755px) {
    .cgrid {
        grid-template-columns: repeat(2, 1fr);
    }
}