.contenedor {
    font-weight: 600;
    margin: 4px 0;
}

.contenedor div {
    color: rgb(234, 34, 34);
    font-weight: 600;
    font-size: 25px;
}

.contenedor span {
    font-weight: 700;
    font-size: 12px;
}

.marca {

    font-weight: 700;
    font-size: 15px;
    margin-right: 3px;
    color: rgb(234, 34, 34);
}

.marca span {
    text-decoration:line-through;
    color: rgb(171, 171, 171);
    padding-right: 6px;
}
