<div class="bgrid mb-8">
    
    <div class="columna">

        <div *ngIf="banner" class="banner">
            <img src="https://raw.githubusercontent.com/JefryPardo/tesis-img/master/banner-oscuro.jpeg"/>
        </div>

        <div *ngFor="let producto of productosPares;">
            <app-carta 
                [producto]="producto" 
                (click)="onInputCardChange(producto)"
            ></app-carta>
        </div>
    </div>
    
    <div class="columna">
        <div *ngFor="let producto of productosImpares;">
            <app-carta  pp-carta 
                [producto]="producto" 
                (click)="onInputCardChange(producto)"
            ></app-carta>
        </div>
    </div>
</div>