.card {
    width: 100%;
    text-align: center;
    background-color: #fff;
    padding: 5px;
    padding-bottom: 10px;
    text-align: left;
}

.truncate-text {
    white-space: nowrap; /* Evita el salto de línea */
    overflow: hidden; /* Oculta el texto que desborda */
    text-overflow: ellipsis; /* Reemplaza el texto desbordado con puntos suspensivos */
    max-width: 170px; /* Establece el ancho máximo del texto antes de truncar */
}

.title {
    text-decoration:line-through;
}

.card img {
    border-radius: 10px;
    width: 100%;
    max-height: 200px;
}

.card h6 {
    margin: 4px 0;
    color: rgb(171, 171, 171);
}

.card p {
    font-size: 16px;
    margin: 0px;
}