<div class="bgrid mb-8">
    
    <div class="columna">

        <div *ngFor="let data of productosPares;">
            <app-producto-cotizado
                [producto]="data.producto" 
                [unidades]="data.cantidad"
                (click)="onInputCardChange(data)"
            ></app-producto-cotizado>
        </div>
    </div>
    
    <div class="columna">
        <div *ngFor="let data of productosImpares;">
            <app-producto-cotizado
                [producto]="data.producto"
                [unidades]="data.cantidad" 
                (click)="onInputCardChange(data)"
            ></app-producto-cotizado>
        </div>
    </div>
</div>