.bgrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); // Dos columnas de igual ancho
    margin: 5px;
}

.banner img {
    border-radius: 10px;
    width: 100%;
    max-height: 1000px;
}

.banner {

    width: 100%;
    padding: 5px;
    padding-bottom: 10px;
}