.button-container {
    display: flex;
    justify-content: center; /* Centra el botón horizontalmente */
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
}

.custom-button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fff; /* Color del texto */
    background-color: #000; /* Color de fondo negro */
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-left: 5%; /* Márgenes a los lados */
    margin-right: 5%;
}

.custom-button:hover {
    background-color: #333; /* Color de fondo en hover */
}

.custom-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3); /* Sombra al enfocar */
}

.custom-button:active {
    transform: scale(0.98); /* Efecto de clic */
}
