
<section>
    <div class="col-12">
        <P class="mb-0 font-bold">{{cotizacion.nombre}}</P>
    </div>
</section>
        
<div class="col-12 m-0 p-0">
    
    <div class="spacer"></div>
    <app-search (searchChanged)="onSearchChanged($event)" id="search"></app-search>
</div>
   
<p-scrollPanel [style]="{ width: '100%', height: '400px' }">

    <app-carta-grid 
        [productosPares]="filteredProductosPares"
        [productosImpares]="filteredProductosImpares"
    ></app-carta-grid>

</p-scrollPanel>

<div class="grid grid-nogutter mt-4 mb-8">
    <div class="col-6 px-1">
        <button 
            pButton 
            pRipple 
            label="Agregar producto"
            (click)="showDialogAddProducto()"
            class="bg-black-alpha-90 col-12 w-full px-0" 
            [style]="{'width':'100%'}" 
        ></button>
    </div>
    <div class="col-6 px-1">
        <button 
            pButton 
            pRipple 
            label="Generar cotización"
            class="bg-black-alpha-90 col-12 w-full px-0" 
            [style]="{'width':'100%'}" 
        ></button>
    </div>
</div>

<br>
<br>
<br>

<p-dialog 
    header="{{cotizacion.nombre}}" 
    [(visible)]="visible" 
    [draggable]="false" 
    [resizable]="false"
    [modal]="true"
    [style]="{width: '90%'}"
    class="altura"
>

    <p-tabView class="contenido">
        <p-tabPanel header="Productos">

            <section *ngIf="!select">
                <app-search id="search"></app-search>
    
                <app-agregar-producto 
                    [productos]="todos_productos"
                    (idChanged)="onCardChanged($event)"
                ></app-agregar-producto>
            </section>

            <section *ngIf="select">
                <app-producto-cotizacion
                    [producto]="producto_select"
                    (dateChanged)="onCrud($event)"
                ></app-producto-cotizacion>
            </section>
            
        </p-tabPanel>
        <p-tabPanel header="Favoritos">
            <p>
                favoritos
            </p>
        </p-tabPanel>
        <p-tabPanel header="Ganancia">
            <p>
                ganancias
            </p>
        </p-tabPanel>
    </p-tabView>
</p-dialog>