.numero {
    font-size: 20px;
}

.negrilla {
    color: black;
    font-weight: bold;
}

.banner {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100px; /* Ajusta la altura según tus necesidades */
}

.banner img {
    max-width: 100%; /* Asegura que el logotipo no se desborde del banner */
    max-height: 100%; /* Asegura que el logotipo no se desborde del banner */
}

.tamanio {

    font-size: 10px;
    opacity: 1;
}

.tamanioTitulo {

    font-size: 20px;
    opacity: 1;
}

.tituloTabla {

    font-size: 10px;
    opacity: 1;
}

.globalBorde {

    border-collapse: collapse; width: 100%;
}

.borde {

    border: 1px solid #000;
}

.tamanioHeader {

    font-size: 7px;
}

.tamanioH {

    font-size: 10px;
}

.custom-input {
    width: 100%; /* Ajusta el ancho al 100% */
    padding: 10px; /* Agrega un relleno personalizado */
    border: 1px solid #ccc; /* Agrega un borde personalizado */
}

.custom-button {
    width: 100%; /* Ajusta el ancho al 100% */
    background-color: #000; /* Cambia el color de fondo */
    color: #fff; /* Cambia el color del texto */
    padding: 10px; /* Agrega un relleno personalizado */
    border: none; /* Elimina el borde del botón */
}

:host ::ng-deep {  
    
    .p-dialog .p-dialog-content {
        min-height: 100px !important;
    }
    .p-dialog .p-dialog-header {
        padding-top: 1.5rem !important;
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
        padding-bottom: 0rem !important;
    }

    .p-dialog .p-dialog-header .p-dialog-header-icon {
        display: none;
    }
}

.ocultar{
    display: none;
}