.banner {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100px; /* Ajusta la altura según tus necesidades */
}

.banner img {
    max-width: 100%; /* Asegura que el logotipo no se desborde del banner */
    max-height: 100%; /* Asegura que el logotipo no se desborde del banner */
}