<p-orderList [value]="cotizaciones" [listStyle]="{ 'max-height': '30rem' }" header="Products" filterBy="name" filterPlaceholder="Filter by name">
    <ng-template let-cotizacion pTemplate="item">
        <div class="flex flex-wrap p-2 align-items-center gap-3">
            <div class="flex-1 flex flex-column gap-2">
                <span class="font-bold">{{ cotizacion.nombre }}</span>
                <div class="flex align-items-center gap-2">
                    <span>{{ product.category }}</span>
                </div>
            </div>
        </div>
    </ng-template>
</p-orderList>