<div class="bgrid mb-8">
    
    <app-carrusel class="altura" [imagenes]="producto.url_imagen"></app-carrusel>

    <div class="contenedor">
        <div class="grid grid-nogutter mt-3">
            
            <div class="col-10">

                <div class="grid grid-nogutter">
                    <div class="col-12">
                        <app-input-precio-normal [producto]="producto"></app-input-precio-normal>
                        <app-input-precio-oferta [producto]="producto"></app-input-precio-oferta>
                    </div>
                </div>
            </div>

            <div class="col-2 flex justify-content-center flex-wrap">
                <div class="fav-icon flex align-items-center justify-content-center">
                    <button (click)="toggleFavorite(favorito)">
                        
                        <i *ngIf="favorito" class="pi pi-heart"></i>
                        <i *ngIf="!favorito" class="pi pi-heart-fill"></i>
                    </button>
                </div>
            </div>

            <div class="col-12 ">
                
                <div class="titulo">{{producto.nombre}}</div>
            </div>

            <div class="col-12">
                
                <p>{{producto.descripcion}}</p>
            </div>

            <div class="col-12">

                <div *ngIf="!delete" class="number-input py-4">
                    <button class="decrement-button" (click)="cantidadMenos()">-</button>
                    <input type="number" class="input-field" [(ngModel)]="cantidad">
                    <button class="increment-button" (click)="cantidadMas()">+</button>
                </div>
                    
                <button 
                    *ngIf="!delete"
                    pButton 
                    pRipple 
                    (click)="toggleInsert(producto)"
                    icon="pi pi-plus" 
                    class="bg-black-alpha-90 col-12 w-full px-0" 
                    [style]="{'width':'100%'}" 
                ></button>

                <button
                    *ngIf="delete"
                    pButton 
                    pRipple 
                    (click)="toggleDelete(producto)"
                    icon="pi pi-trash" 
                    class="bg-black-alpha-90 col-12 w-full px-0" 
                    [style]="{'width':'100%'}" 
                ></button>
                    

            </div>
        </div>
    </div>
</div>